<div class="user_show">

  <h1>Login</h1>

  <%if flash[:notice]%>
    <div class="notice error"><%=flash[:notice]%></div>
  <%end%>

  <%= form_for(:session, url:login_path) do |f| %>
  <div class="row">
    <div class='input-field'>
        <%=f.label :email, "Email:"%>
        <%=f.email_field :email%>
    </div>
  </div>
  <div class="row">
    <div class='input-field'>
      <%=f.label :password, "Password:", class:"active"%>
      <%=f.password_field :password%>
    </div>
   </div> 
    <%=f.submit "log in", class: "waves-effect waves-light btn"%>
  <%end%>
<p><%=link_to "Don't have an account? Sign up!", register_path%></p>
</div>
