<div class='center-align'>

  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class='input-field'>
      <%= f.label :username, "username: "%>
      <%= f.text_field :username %>
    </div>

    <div class='input-field'>
      <%= f.label :email, "email: "%>
      <%= f.email_field :email %>
     </div>

    <% if !@current_user%>
      <div class='input-field'>
        <%= f.label :password, "password: " %>
        <%= f.password_field :password %>
      </div>

      <div class='input-field'>
        <%= f.label :password_confirmation, "re-enter password:" %>
        <%= f.password_field :password_confirmation %>
      </div>
    <%end%>

    <%= f.submit yield(:button_text), class: "btn waves-effect waves-light" %>

  <% end %>
</div>