<%= form_for @user, url: password_path, method: 'patch' do |f| %>
  <%if @errors%>
    <div><%=@errors%></div>
   <%end%>

  <div>
    <%= f.label :current_password, "current password:"%>
    <%= f.password_field :current_password%>
  </div>
  <div>
    <%= f.label :password, "password: " %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "re-enter password:" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit "Change Password"%>
<%end%>