<div class="container">
  <h5> Change Your Password </h5>
  <%= form_for @user, url: password_path, method: 'patch' do |f| %>
    <%if @errors%>
      <div class="error_explanation"><%=@errors%></div>
    <%end%>
    <%= render 'shared/error_messages', object: f.object %>
    <div class='input-field'>
      <%= f.label :current_password, "current password:"%>
      <%= f.password_field :current_password%>
    </div>
    <div class='input-field'>
      <%= f.label :password, "password: " %>
      <%= f.password_field :password %>
    </div class='input-field'>

    <div class='input-field'>
      <%= f.label :password_confirmation, "re-enter password:" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <%= f.submit "Change Password"%>
  <%end%>
</div>