<div class="container">
  <%if flash[:notice]%>
    <div class="notice row col s12"><%=flash[:notice]%></div>
  <%end%>

  <div class="url-form col s12" id="url-form">
    <div id="url-error" style></div>
    
    <%=form_for @article do |f|%>
    
    <div class="row">
      <div class='input-field col s9'>
          <%=f.label :url, "Article URL"%>
          <%=f.text_field :url %>
      </div>
      <%=f.submit "Read", class:"btn waves-effect waves-orange col s1 read-button"%>
    </div>
    <%end%>
  </div>

  <div class="center-align audio-player">
    <audio id="player" src="#history" controls="controls" autoplay="true"></audio>
  </div>

  <div id="your-articles" class="row col s10">
    <table id='tabs' class="col s10">
      <tr>
        <td class="col s3">
          <h4 class="center-align" id="history-tab">History</h4>
        </td>
        <td class="open-tab col s3">
          <h4 class="center-align" id="queue-tab">Queue</h4>
        </td>
      </tr>
    </table>
    <div class="col s10 inactive" id="history">
      <%= render 'history', locals: { queue: @history } %>
    </div>
    <div class='col s10' id="queue">
      <%= render 'queue', locals: { queue: @queue } %>
    </div>
  </div>
</div>
