<%if flash[:notice]%>
  <div class="notice"><%=flash[:notice]%></div>
<%end%>

<div class="url-form" >
  <div id="url-error" style></div>
  <%=form_for @article do |f|%>
  <div class="row" id="url-form">
    <div class='input-field col s10 offset-5'>
      <span class="flow-text">
        <%=f.label :url, "Article URL"%>
        <%=f.text_field :url %>
      </span>
    </div>
    <div id="submit-button">  </div>
      <%=f.submit "Read", class:"btn offset-1", id:"read-button"%>

  </div>
  <%end%>
</div>
<br>

  <div class="center-align audio-player">
    <audio id="player" src="#history" controls="controls" autoplay="true"></audio>
  </div>
<br>

<div id="your-articles" class="row">
    <h4 class="center-align" id="queue-tab">Queue</h4>
    <h4 class="center-align" id="history-tab">History</h4>
  <div class="col s6 inactive" id="history">
    <%= render 'history', locals: { queue: @history } %>
  </div>
  <div class='col s6' id="queue">
    <%= render 'queue', locals: { queue: @queue } %>
  </div>
</div>
