<div class='container'>
<style>nav {display:none;}</style>

  <div id="homepage">

    <div id="color_transparency"></div>

    <%if !logged_in?%>
      <div class="row welcome-banner">
        <%=image_tag ('logo'), class:'col s8 offset-s2'%>
        <div id="links">
          <div class="btn login-btn col s3 offset-s2">
            <%=link_to "register", register_path, class:"white-text home-link" %>
          </div>
          <div class="btn login-btn col s3 offset-s2">
            <%=link_to "login", login_path, class:"white-text home-link" %>
          </div>
        </div>
      </div>

    <%else%>
    <div class="trending-articles container">
      <div class="row">
        <h2 class="col s6 offset-s4">Trending<i class="material-icons small">trending_up</i></h2>

        <div id="trending" class="col s9 offset-s2">
          <%=render 'shared/trending', locals: {articles: @articles}%>
        </div>

        <%=link_to "profile", current_user, class:"profile btn col s2 offset-s5"%>
      </div>
      <%end%>
    </div>

  </div>
</div>
