<div class='container'>
<style>nav {display:none;}</style>

<div id="homepage" class="center-align">
  <div id="color_transparency"></div>

  <%if !logged_in?%>
    <%=image_tag ('logo')%>
    <div id="links">
      <div class="btn"><%=link_to "register", register_path, class:"white-text"%></div>
      <div class="btn"><%=link_to "login", login_path, class:"white-text"%></div>
    </div>
  <%else%>
  <div class="trending-articles">
    <h2>Trending<i class="material-icons small">trending_up</i></h2>
    <div id="trending" class="center-align">
      <%=render 'shared/trending', locals: {articles: @articles}%>
    </div>
    <%=link_to "profile", current_user, class:"profile btn center-align"%>
    <%end%>
  </div>
</div>
</div>
