<!DOCTYPE html>
<html>
  <head>
    <title>ArticleSound</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%=link_to "register", register_path%>
      <%=link_to "login", login_path%>
      <%=link_to "logout", logout_path, method:"delete"%>
    </nav>
    <%= yield %>
  </body>
</html>
