<!DOCTYPE html>
<html>
  <head>
    <title>ArticleSound</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <ul id="nav-mobile" class="right">
          <% if logged_in? %>
            <ul id="dropdown1" class="dropdown-content">
              <li><%=link_to "edit account", edit_user_path(current_user)%></li>
              <li><%=link_to "logout", logout_path, method:"delete"%></li>
            </ul>
            <li><a class="dropdown-button" href=<%=user_path(current_user)%> data-activates="dropdown1" data-hover="true" data-beloworigin="true"><%=current_user.username%></a></li>
          <% else %>
            <li><%=link_to "register", register_path%></li>
            <li><%=link_to "login", login_path%></li>
          <% end %>
        </ul>
        <ul class="left">
          <%=image_tag("logo")%>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
