<!DOCTYPE html>
<html>
  <head>
    <title>ArticleSound</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
   <script src="http://spin.js.org/spin.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo" href="/"><%=image_tag("logo")%></a>
        <% if logged_in? %>
        <a href="#" data-activates="mobile" class="button-collapse right"><i class="large material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <ul id="dropdown1" class="dropdown-content">
              <li><%=link_to "edit", edit_user_path(current_user)%></li>
              <li><%=link_to "logout", logout_path, method:"delete"%></li>
            </ul>
            <li><a class="dropdown-button" href=<%=user_path(current_user)%> data-activates="dropdown1" data-hover="true" data-beloworigin="true"><%=current_user.username%></a></li>
          </ul>
          <ul id="mobile" class="side-nav">
            <li><%=link_to "edit", edit_user_path(current_user)%></li>
            <li><%=link_to "logout", logout_path, method:"delete"%></li>
          </ul>       
        <% end %>
      </div>
    </nav>   
    <%= yield %>
  </body>
</html>
